<div id="carouselImage{{i}}" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselImage{{i}}" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        {% for j in range(1, (listing.get_images()|length)) %}
        <button type="button" data-bs-target="#carouselImage{{i}}" data-bs-slide-to="{{j}}" aria-label="Slide {{j+1}}"></button>
        {% endfor %}
    </div>
    <div class="carousel-inner">
        {% for j, image in enumerate(listing.get_images()) %}
        {% if j == 0 %}
        <div class="carousel-item active">
        {% else %}
        <div class="carousel-item">
        {% endif %}
            <img src="{{image.get_img_url()}}" class="modal-image img-fluid rounded-4 mb-3" alt="{{listing.get_name()}}">
        </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselImage{{i}}" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselImage{{i}}" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>