<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" href="/static/favicon.ico">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Logged Out - inFormal Clothing</title>
    <!-- Latest compiled and minified CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />

    <!-- Latest compiled and minified JavaScript -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
      integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
   {% include 'guest-header.html' %}
   <br /><br />
   <div class="container text-center">
      <div class="container row align-items-center mt-5 mt-md-0">
        <div class="col">
          <img
            class="purple-shirt-img"
            src="../static/tshirt_icon.png"
            alt="purple_tshirt"
          />
        </div>
        <div class="col-sm">
          <p class="index-font">
            You have been logged out.
            <br /><br />
            We hope you come back soon!
            <br /><br />Save money.<br />Swap sustainably.<br />Borrow
            <span class="informal-decoration">inFormally</span>.
          </p>
        </div>
      </div>
  </body>
</html>
